#parentBox{
    width: 300px;
    height: 200px;
    background-color: lightgray;
    position: relative;
}

#childBox{
    width: 80px;
    height: 50px;
    background-color: pink;
    position: absolute;
    bottom: 0px;
    right: 0px;

}