*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

#wrap{
    width: 800;
    margin: 50px auto;

}

.head-title{
    text-align: center;
    margin-bottom: 30px;
}

#board-table{
    border-collapse: collapse;
    width: 800px; /* 테이블 너비-임의 */
}

#board-table td, #board-table th{
    /* border-bottom: 2px solid #aaa; */
    border: 1px solid black;
}

#board-table tr{
    height: 50px;
}

.num{
    width: 80px;
}

.title{
    width: 500px;
}

.writer{
    width: 100px;
}
.date{
    width: 120px;
}

.table-body tr td:nth-child(1),
.table-body tr td:nth-child(3),
.table-body tr td:nth-child(4){
    text-align: center;
}

.table-body tr td:nth-child(2){
    padding-left: 15px;
}

.table-body tr:hover{
    background: #ccc;
}