#wrap{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formbox{
    display: flex;
    flex-direction: column;
    
    gap: 10px;
}

.box1{
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* align-items: end; */
    gap: 10px;

}

.formbox input{
    width: 500px;
    margin-bottom: 10px;
}



#search{
    width: 50px;
    height: 30px;
}

